/* lg */ 
@media (min-width: 1200px) {
	body {
	  font-size: 18px;
	  line-height: 28px;
	}
	#home-slider .caption h1 {
	  font-size: 400%;
	}
	.team-member img{
    width: 90%;
    margin: auto;
	}
	.member-info h3 {
  	margin-top: 35px;
	}

	.member-info h4 {
  	margin-bottom: 15px;
  color: #999;
	}


	#portfolio .folio-image {
  	height: 300px;
	}

	#portfolio .folio-image .helper{
		line-height: 250px;
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	body {
  	font-size: 18px;
  	line-height: 28px;
	}
	#home-slider .caption h1 {
	  font-size: 400%;
	}
	.team-member img{
    width: 90%;
    margin: auto;
	}
	.member-info h3 {
  	margin-top: 35px;
	}

	.member-info h4 {
  	margin-bottom: 15px;
  	color: #999;
	}

	#portfolio .folio-image {
  	height: 300px;
	}

	#portfolio .folio-image .helper{
		line-height: 250px;
	}

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}

	.member-image, .member-info {
		display:inline-block;
	}

	.btn-signup {
		padding: 10px 20px;
	}

	.team-member img{
    width: 80%;
    margin: auto;
	}
	.member-info h3 {
 	 margin-top: 35px;
	}

	.member-info h4 {
  	margin-bottom: 15px;
  	color: #999;
	}

	#home-slider .caption h1 {
		  font-size: 300%;
	}

	#portfolio .folio-image {
  	height: 300px;
	}

	#portfolio .folio-image .helper{
		line-height: 250px;
	}

}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 24px;
	}

	.member-image, .member-info {
		display:inline-block;
	}

	#portfolio .folio-image {
  	height: 300px;
	}

	#portfolio .folio-image .helper{
		line-height: 250px;
	}

	#home-slider .caption h1 {
		  font-size: 300%;
	}
	.left-control, .right-control {
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		padding-bottom: 8px;
		padding-top: 10px;
	}

	/*services*/
	.heading {
		padding-bottom: 45px;
	}

	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}

	.team-member img{
    width: 80%;
    margin: auto;
	}

	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}

	.single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		margin-top: 15px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
	.img-responsive{
  	width:80%;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
  
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	}
}

